@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Playfair+Display:wght@600&display=swap');
.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  height: 100%; /* Ensure the container takes full height */
}
.navbar {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar:hover {
  background-color: black;
  opacity: 0.9;
  transition: 0.8s;
}

.navbar-start {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-grow: 1;
}

.navbar-start li {
  color: white;
  margin-right: 20px; /* Adjust the spacing between list items */
}


.navbar-start li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.navbar-start li:hover {
  color: gold;
}
Link:hover{
  color: gold;
}
.navbar-end{
  display: flex;
  gap: 20px;
  margin-left: auto;
  padding: 0;
  margin: 0;
}
.navbar-end li{
  color: white;
  list-style: none;
}
link{
  text-decoration: none;
}
.tagline{
  font-family: 'Playfair Display';
  color: white;
  margin-top: 225px;
}
.getstarted button{
  color: white;
  background-color: rgb(250, 100, 125);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.getstarted{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.highlights {
  background-color: pink;
  padding: 10px; /* Adjust the overall padding as needed */
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.carousel {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.highlight-item {
  display: flex;
  align-items: center;
  width: calc(50% - 10px); /* Adjust the width for two columns and spacing */
  box-sizing: border-box;
  padding: 10px; /* Add padding to each box */
  border: 2px solid black; /* Adjust the color and thickness as needed */
  margin-bottom: 20px; /* Add some space between each box */
  text-align: left; /* Center the content within each box */
}

.highlight-item {
  display: block; /* Ensure the icon takes the full width of the container */
  border: 2px solid black; /* Adjust the color and thickness as needed */
  margin-bottom: 10px; /* Add space between the icon and the paragraph */
}
.highlight-item span {
  margin-right: 10px; /* Add space between the icon and the text */
}
.card-title{
  font-family:'Playfair Display' ;
  font-weight: bolder;
}
.track:hover{
  background-color: grey;
}
.card.journal {
  text-align: left;
}

.card.journal .card-title,
.card.journal .card-text {
  text-align: left;
}
/* Additional styling for the film card section */
.film-card-section {
  margin-top: 20px; /* Adjust the margin-top as needed */
  margin-bottom: 30px;
}

/* Additional styling for the journals section */
.section.journal {
  margin-top: 20px; /* Adjust the margin-top as needed */
}

/* Additional styling for the footer section */
.section.footer {
  margin-top: 2px; /* Adjust the margin-top as needed */
}

/* AccountSetup.css */
.welcome-tag , .setup-information{
  color: #fff;
  font-size: medium;
}
.avatar-container {
  position: relative;
  width: 250px; /* Adjust the size of the avatar */
  height: 250px; /* Adjust the size of the avatar */
  overflow: hidden;
  border-radius: 50%;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

.overlay svg {
  margin-bottom: 5px;
}
.form.setup{
  background-color: #EA0085;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.form-label-setup{
  color: #FFD700;
  margin-right: 10px;
  align-items: center;
  float: left;
}


/* Add styling for the submit button */
.form.setup button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #FFD700;
}
.form.setup input{
  border: none;
  background-color: transparent;

}
.birthday-container {
  display: flex;
  align-items: center;
}

.birthday-select {
  display: flex;
  gap: 10px;
}
.btn{
  background-color: #FFD700;
}
/* Films.css */
/* Films.css */
.films-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* Set flex direction to row */
  justify-content: space-between; /* Adjust as needed */
}

.film-item {
  flex-basis: calc(30% - 10px); /* Adjust as needed, subtracting margin */
  margin-bottom: 20px; /* Adjust as needed */
}
.film-posters{
  width: 300px;
  height: 250px ;
}



